<form>
  <div class="row">
    <div class="form-group col-sm-6">
      <label>Old password</label>
      <input ng-model="password.old" type="password" class="form-control" placeholder="Old password">
    </div>
    <div class="form-group col-sm-6">
      <label>New password</label>
      <input ng-model="password.new" type="password" class="form-control" placeholder="New password">
      <br>
      <label>New password again</label>
      <input ng-model="password.new_repeat" type="password" class="form-control" placeholder="Retype new password">
    </div>
  </div>
  <p class="red">{{err}}</p>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <button type="submit" class="btn btn-sm btn-primary btn-block" disable-on-promise="updatePassword()">Update</button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-sm btn-default btn-block" ui-sref="^.^">Back</button>
    </div>
  </div>
</form>