#company-relations{
    .caption{
          margin-top:5px;
        } 
    #company-invite-submit{       
        max-width:200px;
        margin: 0 auto;
    }
}

.company-list{
    margin-top: 20px;
    margin-bottom: 20px;
    .company-detail-container{
      @include transition-property(background-color);
      @include transition-duration(0.1s);
      @include transition-timing-function(ease-in);
      border-bottom: 1px solid getColor(light-gray);
      cursor:pointer;
      &:hover{
        background-color: getColor(light-gray);
      }
    }
    .company-content {
        padding: 15px;
    }

    .btn-delete-item {
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      overflow: hidden;
      outline:none;
      margin: 10px;
    }
}

