<div ng-init="init()">
  <div class="panel-body detail-body">
  <b><p>Choose which division user belongs to</p></b>
  <div class="well inner-scroll-view">
    <div ng-if="!divisions.length" class="">
      <h4>No divisions to show</h4>
    </div>
    <table class="table" ng-if="divisions.length">
      <tr class="active">
        <th><b>Division name</b></th> 
        <th><b>Division members</b></th>
        <th><b>Member status</b></th>
        <th ng-if="isAuthorized([P.addCompanyDivisionMembership, P.deleteCompanyDivisionMembership])">
          <b>Action</b>
        </th>
      </tr>
      <tr dir-paginate="(idx, division) in divisions | itemsPerPage:divisionsPerPage" total-items="totalDivisions" current-page="pagination.current" pagination-id="userdivisions">
        <td>{{division.name}}</td>
        <td>{{division.members_count}}</td>
        <td>
          <div class="label label-success label-xs" ng-if="division.user_membership">Is member</div>
          <div class="label label-warning label-xs" ng-if="!division.user_membership">Not member</div>
        </td>
        <td ng-if="isAuthorized([P.addCompanyDivisionMembership, P.deleteCompanyDivisionMembership])">
          <button class="btn btn-danger btn-xs button-width-md" disable-on-promise="removeUserFromDivision(division.user_membership)" ng-if="division.user_membership">Remove from division</button>
          <button class="btn btn-primary btn-xs button-width-md" disable-on-promise="assignUserToDivision(division)" ng-if="!division.user_membership && !user.user_type.is_manager">Assign to division</button>
          <button class="btn btn-primary btn-xs button-width-md" ng-if="!division.user_membership && user.user_type.is_manager" disabled>Assign to division</button>
        </td>
      </tr>
    </table>
  </div>
  <p class="text-color-gray pull-right" ng-if="totalDivisions > 1">Total: {{totalDivisions}} divisions</p>
  <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="userdivisions"></dir-pagination-controls>
  </div>
</div>