<div class="filter-nav navbar navbar-default hidden-xs hidden-sm" type="navigation" ng-controller="NavbarCtrl" bs-affix data-offset-top="-20" data-offset-unpin="-20" data-offset-bottom="3">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#filter-collapse-affix">
      <span class="sr-only">Toggle navigation</span>
      Filter
    </button>
  </div>
  <div class="collapse navbar-collapse detail-heading" id="filter-collapse-affix">
    <div ui-view="control"></div>
  </div>
</div>
<div class="filter-nav navbar navbar-default hidden-md hidden-lg" type="navigation" ng-controller="NavbarCtrl">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#filter-collapse">
      <span class="sr-only">Toggle navigation</span>
      Filter
    </button>
  </div>
  <div class="collapse navbar-collapse detail-heading" id="filter-collapse">
    <div ui-view="control"></div>
  </div>
</div>