<p ng-if="location.company_name"><b>Company name</b><br>{{location.company_name}}</p>
<p ng-if="location.contact.first_name || location.contact.last_name || location.contact.phone || location.contact.email"><b>Company contact</b><br>
  <span ng-if="location.contact.first_name">{{location.contact.first_name}}<br ng-if="location.contact.last_name"></span>
  <span ng-if="location.contact.email">{{location.contact.email}}<br></span>
  <span ng-if="location.contact.phone">{{location.contact.phone.replace('+1','')}}<br></span>
</p>
<p ng-if="location.address_details.address"><b>Address</b><br>
  <span ng-if="location.address_details.address">{{location.address_details.address}}<br></span>
  <span ng-if="location.address_details.address_2">{{location.address_details.address_2}}<br></span>
  <span ng-if="location.address_details.city">{{location.address_details.city}}<br></span>
  <span ng-if="location.address_details.state">{{location.address_details.state}}</span>
  <span ng-if="location.address_details.zip_code"> {{location.address_details.zip_code}}<br></span>
</p>